.mainLayout {
  width: 100%;
  height: 100%;
}
.carouselArea {
  height: 70%;
  overflow: hidden;
  position: relative;
  .carouselSlide {
    height: 90%;
    width: 100%;
  }
  .prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 5rem;
    height: 4rem;
    font-weight: bold;
    font-size: 5rem;
    border: none;
    background: none;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
  .prevBtn:hover {
    transition: all 0.3s;
    opacity: 1;
  }
  .nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 5rem;
    height: 4rem;
    font-weight: bold;
    font-size: 5rem;
    border: none;
    background: none;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
  .nextBtn:hover {
    transition: all 0.3s;
    opacity: 1;
  }
}
.selectArea {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectLayout {
  display: flex;
}

@media (max-width: 600px) {
  .selectLayout {
    display: block;
  }
}
