.modalLayout {
  display: none;
}
.modalArea {
  opacity: 0.5;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 5%;
  left: 20%;
  right: 20%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  color: black;
  .contentArea {
    height: 92%;
    display: flex;
    justify-content: center;
    .content {
      height: 100%;
      width: 100%;
      .imgArea {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        .noImg {
          width: 80%;
          height: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background-color: black;
          font-weight: bold;
          font-size: 7rem;
          color: white;
        }
        .Img {
          width: 80%;
          height: 90%;
          border-radius: 10px;
        }
      }
      .infoArea {
        height: 60%;
      }
    }
  }
  .footerArea {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      font-size: 2rem;
      font-weight: bold;
      padding: 0.5rem 10rem;
      background-color: white;
      border-radius: 10px;
    }
  }
}
