.modalLayout {
  display: none;
}
.modalArea {
  opacity: 0.5;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  color: black;
  .contentArea {
    height: 92%;
  }
  .footerArea {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      font-size: 3rem;
      font-weight: bold;
      padding: 1rem 10rem;
      background-color: white;
      border-radius: 10px;
    }
  }
}
