.headerLayout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px black;
  .title {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
  }
  .btnsLayout {
    display: flex;
    align-items: center;
    .btn {
      width: 7rem;
      margin: 0.5rem 3rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
    }
    .btn:hover {
      background-color: black;
      color: white;
      border-radius: 40px;
    }
    .selectedBtn {
      width: 7rem;
      margin: 0.5rem 3rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      color: white;
      background-color: black;
      border-radius: 40px;
      cursor: pointer;
    }
  }
}
