.place {
  width: 30rem;
  margin: 5rem;
  border: 1.5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.place:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
