.footerLayout {
  height: 100%;
  margin: 1rem;
  .by {
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
    color: silver;
  }
  .link {
    margin: 10rem;
    text-align: center;
    font-size: 2rem;
    color: silver;
    text-decoration: none;
  }
}
